.menu{
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    padding: 0.8vw;
    background: #3c92b4;
    text-align: justify;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules, .chart{
    width: 80%;
    color: white;

}

.rules{
    margin-bottom: 1vw;
}
.message{
    border: 1px solid #eee;
    text-align: center;
    background: #307692;
}

.startGame{
    border-radius: 20px;
    padding: 1vw;
    background: #3c92b4;
    margin-top: 1vw;;
    height: 10vw;
    display: flex;
    width: 33%;
    flex-direction: column;
}
.inputText{
    font-size: 2vw;
}
.btnStartGame{
    margin-top: 1vw;;
    font-size: 2vw;
}
.error{
    text-transform: uppercase;
    text-align: center;
    margin-top: 1vw;
    font-size: 2vw;
}
table{
    width: 100%;
    font-size: 1vw;
}
td{
    width: 12vw;
    text-align: center;

}
.rank{
    margin-left: 0.3vw;
}
table{
    border: 1px solid #eee;
    table-layout: fixed;
}
table th {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
table td{
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #eee;
}
table tbody tr:nth-child(odd){
    background: #42a1c6;
}
table tbody tr:nth-child(even){
    background: #3685a4;
}
footer{
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../images/sand.jpg");
}
.seaweed{
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 75px;
    left: 0;
    z-index: -1;
    background: url("../images/seaweed.png");
}.seaweed2{
    position: absolute;
    height: 75px;
    width: 100%;
    bottom: 75px;
    left: 0;
    z-index: -1;
    background: url("../images/seaweed2.png");
}